/* Set up styles for image backgrounds based on category or subject covered in the course, alongside the final.html background */
#python {
	background-image:url('python_image.jpg');
}

#html {
	background-image:url('html_image.jpg');
}

#css {
	background-image:url('css_image.jpg');
}

#javascript {
	background-image:url('javascript_image.jpg');
}

#hardware {
	background-image:url('hardware_image.jpg');
}

#app_design {
	background-image:url('app_design_image.jpg');
}

#final {
	background-image:url('fireworks.jpg');
}

/* Set up styles for text-related elements */
h2, h3, p, li {
	font-family: arial;
}

h2 {
	color: indigo;
}

h3 {
	color: darkgreen;
}

p, li {
	color: darkred;
	font-size: 105%;
}

/* Set up styles for images */
.congrats_image {
	width: 100px;
	height: 100px;
}
