/* Set up styles for image backgrounds based on category or subject covered in the course, alongside the final.html background */
#python {
	background-image:url('images/python_image.jpg');
}

#html {
	background-image:url('images/html_image.jpg');
}

#css {
	background-image:url('images/css_image.jpg');
}

#javascript {
	background-image:url('images/javascript_image.jpg');
}

#hardware {
	background-image:url('images/hardware_image.jpg');
}

#app_design {
	background-image:url('images/app_design_image.jpg');
}

#final {
	background-image:url('images/fireworks.jpg');
}

#final_failure {
	background-image:url('images/green_sad_emoji.jpg');
}

#trivia_home {
	background-image:url('images/game_console_background.jpg');
}

#trivia_game {
	background-image:url('images/game_gadget_backdrop.jpg');
}

/* Set up styles for text-related elements */
h3, p, li {
	font-family: arial;
}

h3 {
	color: darkgreen;
}

p, li {
	color: darkred;
}

/* Set up styles for trivia quiz home page elements */
table {
	font-family: trebuchet ms;
	border-collapse: collapse;
	width: 280px;
}

td, th {
	border: 3px solid deeppink;
	text-align: center;
	padding: 2px;
}

tr:nth-child(odd) {
	color: firebrick;
}

tr:nth-child(even) {
	color: purple;
}

/* Set up styles for trivia quiz elements */
form, input, TEXTAREA {
	font-family: verdana;
	color: green;
}

TEXTAREA {
	overflow: hidden;
	resize: none;
}

#go_id, #user_submit {
	background-color: lightcyan;
}

#go_id {
	opacity: 0.5;
}

#qnum_id, #qscore_id, #question, #streakscore_id {
	color: firebrick;
	background-color: moccasin;
}

.trivia_descriptor, #streakbox {
	border-radius: 5px;
	border: 5px dotted chocolate;
	padding: 2px;
	background-color: yellow;
	color: darkslateblue;
}

#streak_box {
	border: 3px solid darkorange;
	background-color: lightyellow;
	color: orangered;
}

.separator, .thin_separator {
	/* display: inline-block; */
	vertical-align: top;
}

.separator {
	width: 300px;
}

.thin_separator {
	width: 250px;
}

#result_window {
	border-radius: 5px;
	border-left: 5px solid orange;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	text-align: center;
	opacity: 0;
}

#result_header, #result_message {
	color: navy;
}

#reset_id {
	background-color: mistyrose;
	color: crimson;
}

/* Set up styles for images */
.congrats_image {
	width: 65px;
	height: 65px;
}

.failure_image {
	width: 75px;
	height: 75px;
}

.quiz_title {
	width: 278px;
	height: 50px;
}

.controller_image {
	width: 278px;
	height: 120px;
}

.score_head {
	width: 65px;
	height: 70px;
}

.result_image {
	margin-left: 2px;
	margin-right: 2px;
	width: 200px;
	height: 140px;
}
    
/* Set up styles for links */
a:link, a:visited {
	background-color: mediumblue;
	color: white;
	padding: 5px 15px;
	text-align: center;
	font-family: comic sans ms;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:focus, a:active {
	background-color: midnightblue;
}

/* Set up style for iframes, which are used for audio */
iframe {
	display: none;
}
